<div class="container col col-lg-6 justify-content-center align-items-center p-4">
    <form class="transfer-form">
        <h1>Bank transfer service</h1>
          <div class="form-group">
                <label id="navbarDropdown" href="#" for="account">From account:</label>
                <select name="account-user" id="current_user_account" class="form-control">{{#each current_user.accounts as |c_user_account|}}
                    <option id="{{c_user_account.id}}"> {{c_user_account.account_name}} </option> {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label id="navbarDropdown" href="#" for="account">Select user:</label>
                <select name="account-user" id="account-user" class="form-control">
                    {{#each transfer as |transfers|}}
                    {{#each transfers.accounts as |accounts|}}        
                    <option id="{{accounts.id}}">{{transfers.name}}: {{accounts.account_name}} </option>{{/each}} 
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="inputAmount" >Enter the amount you'd like to transfer</label>
                <input type="number" id="transfer-amount" placeholder="Enter the amount" class="form-control"></input>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>   
    </form>
</div>

<div class="p-5">
  <a class="btn btn-outline-primary float-start " onclick="history.back()">Back</a>
</div>

<script src="/js/transfer.js"></script>